.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: flex-start;
}

.loginWrapper {
  display: flex;
}

.loginLeft,
.loginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-family: Alef !important;
  font-style: normal;
  font-weight: normal;
  font-size: 100px !important;
  line-height: 136px !important;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6097bf !important;
}

.loginDesc {
  font-size: 24px;
}

.RegBox {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 80px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 35px !important;
  padding-left: 20px;
  margin: 2px;
  margin-top: 4%;
}
.nameInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  padding-left: 20px;
  margin: 2px;
  width: 44%;
}
.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: 2px;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  font-family: Alef;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .login {
    flex-direction: row;
  }
  .loginWrapper {
    flex-direction: column;
  }
  .loginLeft,
  .loginRight {
    align-items: center;
  }
  .loginDesc {
    text-align: center;
    margin-bottom: 10px;
  }
}
.radio-container {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.radio-input-container {
  margin: 0 2rem 0 2rem;
}
.names-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.loginBox {
  height: auto;
}
input::placeholder {
  color: #abc9db;
}
