.login {
  max-width: 99.65vw;
  background-color: #abc9db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
}

.loginLeft,
.loginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLeft {
  align-items: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 100px;
}

.loginBox {
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-input {
  text-align: center;
  direction: rtl;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 22px !important;
  padding-left: 20px;
  margin: 2px;
  margin-top: 4%;
  height: 32px;

}

.loginInput:focus {
  outline: none;
}

.login-button {
  cursor: pointer;
  color: #fff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  background: #abc9db;
  width: 220px;
  height: 70px;
  font-size: 19px;
  margin: auto;
  margin-top: 2rem;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.login-register-button {
  font-family: Alef;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}
.loginRegisterContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
