.homeContainer {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    display: grid;
    max-width: 400px;
  }

  .feed {
    max-width: 405px;
    margin-top: 10px;
  }
  .sidebar {
    height: auto;
  }
  .sidebarFriendList {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
  .topbarCenter {
    flex: 12;
  }
  .topbarLeft {
    flex: 6;
  }
  .shareWrapper {
    padding: 2px;
  }
}
.main-image {
  width: 100%;
}
.searchbar-container {
  background-color: #dcecf4;
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.searchbar-2 {
  width: 25%;
  display: flex;
}
.img-350 {
  height: 350px;
  width: 350px;
}
.text-container-home {
  width: 40%;
  font-family: Alef;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #6097bf;
}
.top-image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.bottom-image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
  background-image: url('../../assets/Group25.png');
}
.left-img {
  margin: 1rem;
}
.popups-container {
  display: flex;
  justify-content: center;
}
