.homeContainer {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    display: grid;
    max-width: 400px;
  }

  .feed {
    max-width: 405px;
    margin-top: 10px;
  }
  .sidebar {
    height: auto;
  }
  .sidebarFriendList {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
  .topbarCenter {
    flex: 12;
  }
  .topbarLeft {
    flex: 6;
  }
  .shareWrapper {
    padding: 2px;
  }
}
.main-image {
  width: 100%;
}
.searchbar-container {
  background-color: #DCECF4;
    display: flex;
    justify-content: center;
    height: 7vh;
    align-items: center;
  }
  .search-container {
    display: flex;
    flex-direction: column;
  }
.searchbar-2 {
  width: 25%;
  display: flex;
}